<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <style>
        nav{
            display: flex;
            justify-content: space-between;
        }

        ul{
            display: flex;
            justify-content: space-between;
            width: 300px;
        }

        li{
            list-style: none;

        }

        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <nav>
        <h4>OneLegge Microfinance</h4>
        <ul>
            <li><a href="http://localhost:7000">Home</a></li>
            <li><a href="http://localhost:7000/register">Register</a></li>
            <li><a href="http://localhost:7000/login">Login</a></li>
        </ul>
    </nav>
    <section>
        <h3>Choose a Loan</h3>

    </section>
</body>
</html>